.navbar {
  transition: all 0.6s;
}
.w-85 {
  width: 85%;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  transform-origin: 0%;
}
.project {
  transition: all 0.6s;
}
.content {
  transition: all 0.6s;
}
.menu {
  transition: all 0.6s;
}
.ham_menu {
  display: none;
  transition: all 0.6s;
}
.hamburger > div > svg {
  transition: all 0.6s;
}
.hamburger {
  display: none;
}
.navbar {
  height: 50px;
}
.oval {
  width: 20px;
  height: 20px;
  background: #00eaff;
  background-blend-mode: normal;
  border-radius: 41% 59% 81% 19% / 74% 78% 22% 26%;
  animation: spin 1s infinite ease-in-out;
}
.project {
  display: grid;
  grid-template-columns: 20% auto;
  gap: 20px;
}
.profile {
  height: 200px;
  transform: perspective(70deg);
}
.profile:hover {
  transition: 0.5s;
}
.custom-lottie {
  width: 200px;
  height: 200px;
}
.cat {
  height: 100px;
}

@media (max-width: 770px) {
  .project {
    display: flex;
    width: 100%;
  }
  .menu {
    display: none;
  }
  .ham_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 0;
  }
  .content {
    width: 100%;
  }
  .hamburger {
    display: block;
  }
  @media (max-width: 625px) {
    .info {
      flex-direction: column;
    }
    .project {
      display: flex;
      flex-direction: column;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #3c21b300;
    scroll-behavior: smooth;
  }

  /* WebKit browsers */
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #491eff;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
}
